/* Bold */
@font-face {
    font-family: "Neue Montreal";
    src: url(../font/PPNeueMontreal-Bold.otf);
    font-weight: bold;
    font-style: normal;
}

/* Semibold */
@font-face {
    font-family: "Neue Montreal";
    src: url(../font/PPNeueMontreal-SemiBolditalic.otf);
    font-weight: 700;
    font-style: italic;
}

/* Book */
@font-face {
    font-family: "Neue Montreal";
    src: url(../font/PPNeueMontreal-Book.otf);
    font-weight: 450;
    font-style: normal;
}

/* Italic */
@font-face {
    font-family: "Neue Montreal";
    src: url(../font/PPNeueMontreal-Italic.otf);
    font-weight: 450;
    font-style: italic;
}

/* Medium */
@font-face {
    font-family: "Neue Montreal";
    src: url(../font/PPNeueMontreal-Medium.otf);
    font-weight: 530;
    font-style: normal;
}

/* Thin */
@font-face {
    font-family: "Neue Montreal";
    src: url(../font/PPNeueMontreal-Thin.otf);
    font-weight: 200;
    font-style: normal;
}

:root {
    /* DARK THEME DEFAULT*/
    --d-t-color: #f5f5f5;
    --d-t-hover: #808080;
    --d-bg-color: #0d0d0d;

    /* BORDER */
    --b-position: 50px;

    /* WRAPPER HEIGHT*/
    --w-height: calc(100%vh-40px)px;
}

body {
    font-family: "Neue Montreal", "Helvetica";
    font-weight: 400;
    font-style: normal;
    text-align: left;
    margin: 0;
    padding: 0;
    color: var(--d-t-color);
    background-color: var(--d-bg-color);
}

.mainBorder {
    box-sizing: border-box;
    position: absolute;
    top: var(--b-position);
    bottom: var(--b-position);
    right: var(--b-position);
    left: var(--b-position);
    border: 1px solid var(--d-t-color);
    overflow: hidden;
}

#demo {
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
}

.header {
    width: 25%;
    padding-left: 20px;
    padding-top: 20px;
    position: relative;
}

h1 {
    font-weight: 100;
    margin: 0;
    line-height: 3rem;
    font-size: 60px;
}

#role {
    font-size: 32px;
    margin-top: 5px;
}

nav {
    padding-top: 40px;
    display: inline-block;
}

h2 {
    font-size: 32px;
}

.content {
    text-align: left;
    letter-spacing: 3px;
    margin: 5px 0;
}

.wrapper {
    width: 65%;
    height: var(--w-height);
    position: absolute;
    top: 20px;
    right: 20px;
    bottom: 20px;
    margin: 30px;
    /* border: 1px solid var(--d-t-color); */
    overflow: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.wrapper::-webkit-scrollbar {
    display: none;
}

.maincontent {
    display: none;
    padding: 20px 0px 20px 20px;
    margin: 10px;
    text-align: right;
    font-size: 32px;
}

.subheading {
    display: block;
    font-weight: 100;
    font-size: 48px;
    margin: 0;
    padding-bottom: 50px;
    position: sticky;
}

.maincontent p {
    margin: 5px 0;
    line-height: 1.5em;
}

.theme {
    line-height: 1;
    position: absolute;
    left: 40px;
    bottom: 50px;
    display: flex;
    transform-origin: left bottom;
    transform: rotate(-90deg);
    white-space: nowrap;
    cursor: pointer;
    column-gap: 15px;
    font-size: 32px;
}

.themeColors {
    display: flex;
    column-gap: 20px;
}

.gitHub {
    display: flex;
    column-gap: 5px;
}

.lightTheme {
    display: flex;
    column-gap: 5px;
    --d-t-color: var(--d-t-color-light);
}

.darkTheme {
    display: flex;
    column-gap: 5px;
    --d-t-color: var(--d-t-color-light);
}

.content, .gitHub, .lightTheme, .darkTheme {
    cursor: pointer;
}

.content:hover h2,
.content:hover h2 ._box,
.gitHub:hover, 
.lightTheme:hover, 
.darkTheme:hover {
    color: var(--d-t-hover);
}

.content:hover h2 ._box,
.gitHub:hover ._box, 
.lightTheme:hover ._box, 
.darkTheme:hover ._box {
    display: inline-block;
    transition: transform 0.3s ease;
    transform: rotate(45deg);
}

.content h2:not(:hover) ._box,
.gitHub:not(:hover) ._box, 
.lightTheme:not(:hover) ._box, 
.darkTheme:not(:hover) ._box {
    display: inline-block;
    transition: transform 0.3s ease;
    transform: rotate(0);
}