/* Bold */
@font-face {
    font-family: "Neue Montreal";
    src: url(../font/PPNeueMontreal-Bold.otf);
    font-weight: bold;
    font-style: normal;
}

/* Semibold */
@font-face {
    font-family: "Neue Montreal";
    src: url(../font/PPNeueMontreal-SemiBolditalic.otf);
    font-weight: 700;
    font-style: italic;
}

/* Book */
@font-face {
    font-family: "Neue Montreal";
    src: url(../font/PPNeueMontreal-Book.otf);
    font-weight: 450;
    font-style: normal;
}

/* Italic */
@font-face {
    font-family: "Neue Montreal";
    src: url(../font/PPNeueMontreal-Italic.otf);
    font-weight: 450;
    font-style: italic;
}

/* Medium */
@font-face {
    font-family: "Neue Montreal";
    src: url(../font/PPNeueMontreal-Medium.otf);
    font-weight: 530;
    font-style: normal;
}

/* Thin */
@font-face {
    font-family: "Neue Montreal";
    src: url(../font/PPNeueMontreal-Thin.otf);
    font-weight: 200;
    font-style: normal;
}

:root {
    /* DARK THEME DEFAULT*/
    --d-t-color: #f5f5f5;
    --d-t-hover: #808080;
    --d-bg-color: #0d0d0d;

    /* BORDER */
    --b-position: 50px;

    /* WRAPPER HEIGHT*/
    --w-height: calc(100%vh-40px);
}

body {
    font-family: "Neue Montreal", "Helvetica";
    font-weight: 400;
    font-style: normal;
    text-align: left;
    margin: 0;
    padding: 0;
    color: var(--d-t-color);
    background-color: var(--d-bg-color);
}

.mainBorder {
    box-sizing: border-box;
    position: absolute;
    top: var(--b-position);
    bottom: var(--b-position);
    right: var(--b-position);
    left: var(--b-position);
    border: 1px solid var(--d-t-color);
    overflow: hidden;
}

#particles-js {
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
}

.container {
    display: flex;
    justify-content: space-between;
}

.header {
    width: 25%;
    padding-left: 20px;
    padding-top: 20px;
    position: relative;
}

h1 {
    font-family: "Neue Montreal";
    font-weight: 200;
    margin: 0;
    font-size: 60px;
    text-align: left;
    display: inline-block;
}

#role {
    font-family: "Neue Montreal";
    font-weight: 200;
    font-size: 32px;
    margin-top: 15px;
}

nav {
    padding-top: 40px;
    display: inline-block;
}

h2 {
    font-family: "Neue Montreal";
    font-weight: 200;
    font-size: 32px;
}

.navContent {
    text-align: left;
    letter-spacing: 3px;
    margin: 5px 0;
}

.wrapper {
    width: 75%;
    height: var(--w-height);
    position: absolute;
    top: 20px;
    right: 20px;
    bottom: 20px;
    margin: 30px;
    /* border: 1px solid var(--d-t-color); */
    overflow: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.wrapper::-webkit-scrollbar {
    display: none;
}

.mainContent {
    display: none;
    padding: 20px 0px 20px 20px;
    margin: 10px;
    text-align: right;
    font-size: 32px;
}

.subHeading {
    display: block;
    font-weight: 100;
    font-size: 48px;
    margin: 0;
    padding-bottom: 50px;
}

.mainContent p {
    margin: 5px 0;
    line-height: 1.5em;
}

.theme {
    line-height: 1;
    position: absolute;
    left: 40px;
    bottom: 48px;
    display: flex;
    transform-origin: left bottom;
    transform: rotate(-90deg);
    white-space: nowrap;
    column-gap: 15px;
    font-size: 32px;
}

.themeColors {
    display: flex;
    column-gap: 20px;
}

.gitHub {
    display: flex;
    column-gap: 5px;
}

.gitHub_link {
    text-decoration: none;
    color: #f5f5f5;
}

.lightTheme {
    display: flex;
    column-gap: 5px;
}

.darkTheme {
    display: flex;
    column-gap: 5px;
}

.hide {
    display: none;
}

/* ANIMATIONS */
.fade-in-nav {
    opacity: 0;
    animation: fade-in 1s forwards;
    animation-delay: 0.5s;
}

.fade-in {
    opacity: 0;
    animation: fade-in 1s forwards;
}

@keyframes fade-in {
    to { opacity: 1;}
}

/* PROJECTS CSS*/ 
.my-container {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: flex-end;
}

.my-container a {
    text-decoration: none;
}

.my-box {
    margin-bottom: 50px;
    /* height: 160px; */
    box-sizing: border-box;
    display: flex;
    justify-content:flex-end;
}

.my-content-block {
    display: inline-block;
    height: 100%;
    vertical-align: top;
}

.my-h4 {
    font-family: "Neue Montreal", "Helvetica";
    font-weight: 200;
    font-style: normal;
    text-align: right;
    font-size: 80px;
    margin: 0;
    padding: 0;
    color: var(--d-t-color);
}

.my-project {
    color: var(--d-t-color);
    text-align: right;
}

#body_skillset ul {
    list-style-type: none;
    padding-left: 0;
}

ul li {
    position: relative;
    padding-right: 40px;
    margin-bottom: 20px;
    line-height: 1.5;
}

ul li::before {
    content: '■';
    position: absolute;
    right: 0;
}

.constactContainer {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

.contactDetails p a {
    color: var(--d-t-color);
}

#body_about p {
    text-align: justify;
    padding: 10px 0;
}

#body_about h4 {
    padding-bottom: 20px;
}

/* HOVER EFFECTS */
.navContent, .gitHub, .lightTheme, .darkTheme, .my-icon {
    cursor: pointer;
}

.navContent:hover h2, .navContent:hover h2 ._box, .gitHub:hover, .lightTheme:hover, .darkTheme:hover, .my-icon:hover, .gitHub_link:hover, .my-box:hover .my-h4, .my-box:hover .my-project, .contactDetails p a:hover {
    color: var(--d-t-hover);
}

.navContent:hover h2 ._box, .gitHub:hover ._box, .lightTheme:hover ._box, .darkTheme:hover ._box {
    display: inline-block;
    transition: transform 0.3s ease;
    transform: rotate(45deg);
}

.navContent h2:not(:hover) ._box, .gitHub:not(:hover) ._box, .lightTheme:not(:hover) ._box, .darkTheme:not(:hover) ._box {
    display: inline-block;
    transition: transform 0.3s ease;
    transform: rotate(0);
}