/* Bold */
@font-face {
    font-family: "Neue Montreal";
    src: url(../font/PPNeueMontreal-Bold.otf);
    font-weight: bold;
    font-style: normal;
}

/* Semibold */
@font-face {
    font-family: "Neue Montreal";
    src: url(../font/PPNeueMontreal-SemiBolditalic.otf);
    font-weight: 700;
    font-style: italic;
}

/* Book */
@font-face {
    font-family: "Neue Montreal";
    src: url(../font/PPNeueMontreal-Book.otf);
    font-weight: 450;
    font-style: normal;
}

/* Italic */
@font-face {
    font-family: "Neue Montreal";
    src: url(../font/PPNeueMontreal-Italic.otf);
    font-weight: 450;
    font-style: italic;
}

/* Medium */
@font-face {
    font-family: "Neue Montreal";
    src: url(../font/PPNeueMontreal-Medium.otf);
    font-weight: 530;
    font-style: normal;
}

/* Thin */
@font-face {
    font-family: "Neue Montreal";
    src: url(../font/PPNeueMontreal-Thin.otf);
    font-weight: 200;
    font-style: normal;
}

:root {
    /* DARK THEME DEFAULT*/
    --d-t-color: #f5f5f5;
    --d-t-hover: #808080;
    --d-bg-color: #0d0d0d;

    /* BORDER */
    --b-position: 50px;

    /* WRAPPER HEIGHT*/
    --w-height: calc(100% - 40px);

    box-sizing: border-box;
}

html {
    height: 100%;
}

h1 {
    font-family: "Neue Montreal", "Helvetica";
    font-weight: 200;
    font-style: normal;
    font-size: 4rem;
    color: var(--d-t-color);
}

h2 {
    font-family: "Neue Montreal", "Helvetica";
    font-weight: 200;
    font-style: normal;
    font-size: 2rem;
    color: var(--d-t-color);
}

h3 {
    font-family: "Neue Montreal";
    font-weight: 200;
    font-style: normal;
    font-size: 3rem;
    color: var(--d-t-color);
}

h4 {
    font-family: "Neue Montreal", "Helvetica";
    font-weight: 200;
    font-style: normal;
    font-size: 5rem;
    color: var(--d-t-color);
}

h5 {
    font-family: "Neue Montreal", "Helvetica";
    font-weight: 200;
    font-style: normal;
    font-size: 3rem;
    color: var(--d-t-color);
}

p, li{
    font-family: "Neue Montreal", "Helvetica";
    font-weight: 400;
    font-style: normal;
    font-size: 2rem;
    color: var(--d-t-color);
}

body {
    margin: 0;
    padding: 0;
    color: var(--d-t-color);
    background-color: var(--d-bg-color);
    height: 100%;
}

.mainBorder {
    box-sizing: border-box;
    position: fixed;
    top: var(--b-position);
    bottom: var(--b-position);
    right: var(--b-position);
    left: var(--b-position);
    border: 1px solid var(--d-t-color);
    overflow: hidden;
}

#particles-js {
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
}

.container {
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}

.header {
    width: 25%;
    margin: 20px;
    position: relative;
    box-sizing: border-box;
}

#role {
    margin-top: 15px;
    font-weight: 200;
}

nav {
    padding-top: 40px;
    display: inline-block;
}

.header img {
    display: none;
}

.navContent {
    text-align: left;
    letter-spacing: 3px;
    margin: 5px 0;

}

.wrapper {
    width: 75%;
    height: var(--w-height);
    position: relative;
    padding-top: 20px;
    padding-right: 20px;
}

.wrapper::-webkit-scrollbar {
    display: none;
}

.mainContent {
    display: none;
    text-align: right;
    overflow-y: scroll;
    padding-left: 20px;
    padding-right: 20px;
    height: calc(100% - var(--b-position) - var(--b-position));
    scrollbar-width: none;
    -ms-overflow-style: none;  /* IE and Edge */
}

hr {
    border-color: var(--d-t-hover);
}

.subHeading {
    display: block;
    padding-bottom: 50px;
}

.mainContent p {
    margin: 5px 0;
    line-height: 1.5em;
}

.theme {
    font-family: "Neue Montreal", "Helvetica";
    font-weight: 400;
    font-style: normal;
    font-size: 2rem;
    line-height: 1;
    position: absolute;
    left: 40px;
    bottom: 48px;
    display: flex;
    transform-origin: left bottom;
    transform: rotate(-90deg);
    white-space: nowrap;
    column-gap: 15px;
}

.themeColors {
    display: flex;
    column-gap: 20px;
}

.gitHub {
    display: flex;
    column-gap: 5px;
}

.gitHub_link {
    text-decoration: none;
    color: #f5f5f5;
}

.lightTheme {
    display: flex;
    column-gap: 5px;
}

.darkTheme {
    display: flex;
    column-gap: 5px;
}

.hide {
    display: none;
}

/* ANIMATIONS */
.fade-in-nav {
    opacity: 0;
    animation: fade-in 1s forwards;
    animation-delay: 0.5s;
}

.fade-in {
    opacity: 0;
    animation: fade-in 1s forwards;
}

@keyframes fade-in {
    to { opacity: 1;}
}

/* PROJECTS CSS*/ 
.my-container {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: flex-end;
}

.my-container a {
    text-decoration: none;
}

.my-box {
    margin-bottom: 50px;
    box-sizing: border-box;
    display: flex;
    justify-content:flex-end;
}

.my-content-block {
    display: inline-block;
    height: 100%;
    vertical-align: top;
}

.my-project {
    color: var(--d-t-color);
    text-align: right;
}

#body_skillset ul {
    list-style-type: none;
    padding-left: 0;
}

ul li {
    position: relative;
    padding-right: 40px;
    margin-bottom: 20px;
    line-height: 1.5;
}

ul li::before {
    content: '■';
    position: absolute;
    right: 0;
}

.contactContainer {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

.contactDetails p a {
    color: var(--d-t-color);
}

#body_about p {
    text-align: justify;
    padding: 10px 0;
}

/* HOVER EFFECTS */
.navContent, .gitHub, .lightTheme, .darkTheme, .my-icon {
    cursor: pointer;
}

.navContent:hover h2, .navContent:hover h2 ._box, .gitHub:hover, .lightTheme:hover, .darkTheme:hover, .my-icon:hover, .gitHub_link:hover, .my-box:hover .my-h4, .my-box:hover .my-project, .contactDetails p a:hover {
    color: var(--d-t-hover);
}

.navContent:hover h2 ._box, .gitHub:hover ._box, .lightTheme:hover ._box, .darkTheme:hover ._box {
    display: inline-block;
    transition: transform 0.3s ease;
    transform: rotate(45deg);
}

.navContent h2:not(:hover) ._box, .gitHub:not(:hover) ._box, .lightTheme:not(:hover) ._box, .darkTheme:not(:hover) ._box {
    display: inline-block;
    transition: transform 0.3s ease;
    transform: rotate(0);
}

@media only screen and (max-width: 1024px) {
    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 1rem;
    }

    h3 {
        font-size: 2rem;
    }

    h4 {
        font-size: 3rem;
    }

    h5 {
        font-size: 2rem;
    }

    p, li {
        font-size: 1rem;
    }
}

@media only screen and (max-width: 750px) {
    #nav-menu {
        position: fixed;
        top: 70px;
        left: 70px;
        overflow: hidden;
        max-height: 0;
        padding: 0;
        z-index: 100;
        transition: max-height 0.5s;
    }

    #menuIcon {
        display: block;
        width: 30px;
        filter: invert(100%);
        position: fixed;
        top: 70px;
        right: 70px;
        cursor: pointer;
    }

    #myName, #role {
        overflow: hidden;
        transition: max-height 0.5s;
    }

    .container {
        flex-direction: column;
    }

    .header {
        width: auto;
        height: 100px;
    }

    .wrapper {
        width: auto;
        min-height: 25%;
        padding-top: 0;
        padding-right: 0;
    }

    .subHeading {
        padding-bottom: 25px;
    }

    ul li {
        margin-bottom: 10px;
        padding-right: 25px;
    }

    .theme {
        font-size: 1.5rem;
    }
}

@media only screen and (max-width: 475px) {
    :root {
        --b-position: 30px;
    }

    #nav-menu {
        position: fixed;
        top: 50px;
        left: 50px;
        overflow: hidden;
        max-height: 0;
        padding: 0;
        z-index: 100;
        transition: max-height 0.5s;
    }

    #menuIcon {
        display: block;
        width: 30px;
        filter: invert(100%);
        position: fixed;
        top: 50px;
        right: 50px;
        cursor: pointer;
        z-index: 200;
    }

    #myName, #role {
        overflow: hidden;
        transition: max-height 0.5s;
    }

    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1rem;
    }

    h3 {
        font-size: 1rem;
    }

    h4 {
        font-size: 1.5rem;
    }

    h5 {
        font-size: 1rem;
    }

    p, li {
        font-size: 1rem;
    }

    .theme {
        font-size: 1rem;
        left: 25px;
        bottom: 30px;
    }

    .mainContent {
        padding: 20px;
    }

    hr {
        margin-top: 8px;
        margin-bottom: 8px;
    }

    .subHeading {
        padding-bottom: 10px;
    }

    .contactContainer {
        flex-direction: column;
    }
}